/* ////////////// 1- BASE_POLICES /////////////////*/
@font-face {
    font-family: 'vtc_letterer_proregular';
    src: url('polices/VTC_letterer_pro-webfont.eot');
    src: url('polices/VTC_letterer_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/VTC_letterer_pro-webfont.woff2') format('woff2'),
         url('polices/VTC_letterer_pro-webfont.woff') format('woff'),
         url('polices/VTC_letterer_pro-webfont.ttf') format('truetype'),
         url('polices/VTC_letterer_pro-webfont.svg#vtc_letterer_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'typo_comics_light_demoregular';
    src: url('polices/typo_comics_light_demo-webfont.eot');
    src: url('polices/typo_comics_light_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/typo_comics_light_demo-webfont.woff2') format('woff2'),
         url('polices/typo_comics_light_demo-webfont.woff') format('woff'),
         url('polices/typo_comics_light_demo-webfont.ttf') format('truetype'),
         url('polices/typo_comics_light_demo-webfont.svg#typo_comics_light_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: arial, sans-serif;
	width: 75%;
	margin: auto;
}

a
{
	text-decoration: none;
}

/* ////////////// 2- UTILS_VARIABLES /////////////////*/

:root /* Définition des couleurs */
{	/*header et footer*/
	--bg-txt-color: #579C87;
	--txt-color: #FDCB46;
	/*menu1*/
	--bg-menu1: #FCDFDB;
	--txt-menu1:#3D1319;
	/*menu2*/
	--bg-menu2: #FFF5FE;
	--txt-1-menu2:#C77412;
	--txt-2-menu2: #A56799;
	--txt-3-menu2: #6E4CCC;
	/*menu3*/
	--bg-menu3: #EDEFEF;
	--txt-menu3: #0887FB;
	--bar-darken-menu3: #0228DD;
	--bar-normal-menu3: #0670F3;
	--bar-lighten-menu3: #229DF9;
	/*menu4*/
	--bg-menu4: #FDFFFD;
	--txt-menu4: #72BF56;
	--bar-darken-menu4: #3D923A;
	--bar-lighten-menu4: #BFFF7E;
}


/* ////////////// 3-1 LAYOUT_Header /////////////////*/
header {
	color: #FDCB46;
	background-color: #579C87;
	height: 6rem;
	text-align: center;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-size: 1.2rem;
}
/* ////////////// 3-2 LAYOUT_Footer /////////////////*/
footer {
	display: flex;
	justify-content: space-between;
	width: 72vw;
	padding: 0 1rem 0 1rem;
	color: #FDCB46;
	background-color: #579C87;
	position: fixed;
	bottom: 0;
}

footer a {
	color: var(--txt-color);
}
/* ////////////// 4 COMPONENTS (animations) /////////////////*/


.underline {
 	width: 3rem;
	height: 0.1rem;
	margin: auto;
	border-radius: 50%;
	background-color: #ef475f;
	transform: scaleX(1);
	transition: transform 2s 
}  

.underline:hover {
  	transform-origin: left;
  	transform: scaleX(4);
}

/* ////////////// 5-1 PAGES-menu1 /////////////////*/
h2 {
	text-align: center;
	margin-top: 2rem;
}

#titre .fa-music {
	font-size: 3rem;
}

.fa-music {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef475f+0,f6916a+100 */
	/*background: #ef475f; /* Old browsers*/
	background: -moz-linear-gradient(-45deg,  #ef475f 0%, #f6916a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #ef475f 0%,#f6916a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #ef475f 0%,#f6916a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef475f', endColorstr='#f6916a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#titre p {
font-size: 2rem;
margin: 0 2rem 0.5rem 2rem;
}

#first_menu {
	background-color: var(--bg-menu1);
	box-shadow: 2px 2px 10px grey;
	width: auto;
	margin: 0.5rem 3rem 3rem 3rem;
	padding: 1rem;
	color: var(--txt-menu1);
	text-align: center;
}

#titre, #titrebis {
	font-family: "Devonshire";
	padding-top: 1rem;
	
}

#menu1 {
	width: auto;
}

table {
	font-family: "typo_comics_light_demoregular";
	width: 85%;
	margin-left: 2.5rem;
	margin-right: 2.5rem;	
}

#menu1__sstitre {
	display: flex;
	justify-content: space-between;
	width: auto;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	font-family: "typo_comics_light_demoregular";
	font-weight: lighter;
	font-size: 1.2rem;
}

.plat {
	text-align: left;
	
}



.prix {
	text-align: right;
}

img {
	width: 30%;
	height: 1rem;
	padding-top: 2rem;

}

#titrebis {
	font-size: 1.7rem;
	padding-top: 1.5rem;
	padding-bottom: 2rem;
}



/* ////////////// 5-2 PAGES-menu2 /////////////////*/
/*.menu1 :nth-child(1) {
background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' standalone='no'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='343.000000pt' height='42.000000pt' viewBox='0 0 343.000000 42.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E Created by potrace 1.15, written by Peter Selinger 2001-2017 %3C/metadata%3E%3Cg transform='translate(0.000000,42.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3C/g%3E%3C/svg%3E");
}*/
#second_menu {
	font-family: "Croissant One";
}
/* ////////////// 5-3 PAGES-menu3 /////////////////*/
#third_menu {
	font-family: "Dancing script";
}
/* ////////////// 5-4 PAGES-menu4 /////////////////*/
#fourth_menu {
	font-family: "Kaushan Script";
}
/* ////////////// 5-5 PAGES-disclaimer /////////////////*/
#disclaimer span {
	text-transform: uppercase;
}
#disclaimer h2 {
	text-align: left;
}