/*--------------------------------------------------*/
					/*SOMMAIRE*/
/*--------------------------------------------------*/
/*
	Ligne 14 - Base (@font-face, body et général)
	Ligne 53 - Utils (variables)
	Ligne 81 - Layout (header, footer)
	Ligne 120 - Components (animations)
	 	L -> zoom menus
	 	L -> points de suspension
	 	L -> wiggles
	 	L -> surlignage
	Ligne  - Pages (accueil, menu1,2,3,4, Mentions Légales)
		L -> page d'accueil
		L -> styles communs à tous les menus
		l -> styles spécifiques au menu 1
		l -> styles spécifiques au menu 2
		l -> styles spécifiques au menu 3
		l -> styles spécifiques au menu 4
		L509 -> page Mentions Légales
	Ligne  - Médias (tablette, smartphone)
*/

/* ////////////// 1- BASE_POLICES /////////////////*/
@font-face {
    font-family: 'vtc_letterer_proregular';
    src: url('polices/VTC_letterer_pro-webfont.eot');
    src: url('polices/VTC_letterer_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/VTC_letterer_pro-webfont.woff2') format('woff2'),
         url('polices/VTC_letterer_pro-webfont.woff') format('woff'),
         url('polices/VTC_letterer_pro-webfont.ttf') format('truetype'),
         url('polices/VTC_letterer_pro-webfont.svg#vtc_letterer_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'typo_comics_light_demoregular';
    src: url('polices/typo_comics_light_demo-webfont.eot');
    src: url('polices/typo_comics_light_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/typo_comics_light_demo-webfont.woff2') format('woff2'),
         url('polices/typo_comics_light_demo-webfont.woff') format('woff'),
         url('polices/typo_comics_light_demo-webfont.ttf') format('truetype'),
         url('polices/typo_comics_light_demo-webfont.svg#typo_comics_light_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'Roboto', arial, sans-serif;
	width: 75%;
	margin: auto;
}

a
{
	text-decoration: none;
}

/* ////////////// 2- UTILS_VARIABLES /////////////////*/

:root /* Définition des couleurs */
{	/*header et footer*/
	--bg-txt-color: #579C87;
	--txt-color: #FDCB46;
	/*menu1*/
	--bg-menu1: #FCDFDB;
	--txt-menu1:#3D1319;
	/*menu2*/
	--bg-menu2: #FFF5FE;
	--txt-1-menu2:#C77412;
	--txt-2-menu2: #A56799;
	--txt-3-menu2: #6E4CCC;
	/*menu3*/
	--bg-menu3: #EDEFEF;
	--txt-menu3: #0887FB;
	--bar-darken-menu3: #0228DD;
	--bar-normal-menu3: #0670F3;
	--bar-lighten-menu3: #229DF9;
	/*menu4*/
	--bg-menu4: #FDFFFD;
	--txt-menu4: #72BF56;
	--bar-darken-menu4: #3D923A;
	--bar-lighten-menu4: #BFFF7E;
}


/* ////////////// 3-1 LAYOUT_Header /////////////////*/
header {
	color: var(--txt-color);
	background-color: #579C87;
	height: 5.5rem;
	text-align: center;
	font-size: 1.2rem;
}

h1 {
	margin: 0;
	padding-top: 1rem;
}

/* ////////////// 3-2 LAYOUT_Footer /////////////////*/
footer {
	display: flex;
	justify-content: space-between;
	width: 72%;
	padding: 0 1rem 0 1rem;
	background-color: var(--bg-txt-color);
	position: fixed;
	bottom: 0;
}

footer a {
	color: var(--txt-color);
}

/* ////////////// 4 COMPONENTS (animations) /////////////////*/

/* les zooms + fondu*/
div[id*="menu0"]  {
	transition: all 800ms ease-in-out;
}

#menu01:hover, #menu02:hover, #menu03:hover, #menu04:hover {
	transform: scale(1.8);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu01:hover, #menu01:hover #menu01__i {background: var(--bg-menu1);}
#menu02:hover, #menu02:hover #menu02__p {background: var(--bg-menu2);}
#menu03:hover {background: var(--bg-menu3);}
#menu04:hover {background: var(--bg-menu4);}

.menu {
	overflow: hidden;
}

/*#menu01:hover, #menu02:hover, #menu03:hover, #menu04:hover, #menu01:hover i,  {
	animation: zoom 1000ms 600ms backwards ease-in-out;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: var(--bg-menu1);
  }
}*/


/* les points de suspension*/
#soon:hover span {
	display: none;
}

#ellipsis {
	display: flex;
	justify-content: center;

}

.point {
	background-color: var(--txt-color);
	border-radius: 50%;
	height: 1vh;
	width: 1vh;
	margin: 0.5vh;
}

#ellipsis:hover .point--1 {
	 animation: points 1000ms 200ms backwards infinite alternate ease-in-out;
}
#ellipsis:hover .point--2 {
	 animation: points 1000ms  400ms backwards infinite alternate ease-in-out;
}
#ellipsis:hover .point--3 {
	 animation: points 1000ms 600ms backwards infinite alternate ease-in-out;
}

@keyframes points {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

/* effet wiggle sur Mentions légales et contact*/
footer h3:hover {
	animation: shake 150ms ease-in-out 3;
}

@keyframes shake {
	25% {
		transform: translateX(2%);
	}
	75% {
		transform: translateX(-2%);
	}
}

/*au survol des sous-titres "entrées" "plats" et "desserts", un soulignement apparaît*/ 
.underline {
 	width: 3rem;
	height: 0.1rem;
	border-radius: 50%;	
	transform: scaleX(0);
	transition: transform 2s 
}  

#music .underline {
	margin: -1.4rem auto;
	background-color: #ef475f;
}

#chic .underline {
	margin: -0.8rem auto;
}

#chic #paragraph1 .underline {background-color: var(--txt-1-menu2);}
#chic #paragraph2 .underline {background-color: var(--txt-2-menu2);}
#chic #paragraph3 .underline {background-color: var(--txt-3-menu2);}

#papilles .underline {
	margin: -1rem auto;
}

#papilles #paragraph1 .underline {background-color: var(--bar-darken-menu3);}
#papilles #paragraph2 .underline {background-color: var(--bar-normal-menu3);}
#papilles #paragraph3 .underline {background-color: var(--bar-lighten-menu3);}

#palette .underline {
	margin: -1rem auto;
	background-color: var(--bar-darken-menu4);
}

.menu1__sstitre:hover + .underline, .menu2__sstitre:hover + .underline, .menu3__sstitre:hover + .underline,.menu4__sstitre:hover + .underline {
  	transform: scaleX(4);
}

/* ////////////// 5-0 PAGES-index /////////////////*/
#index {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 2.5rem 1rem 2.5rem;

}

#index .menu {
	box-shadow: 2px 2px 10px grey;
	width: 30rem;
	height: 70vh;
	text-align: center;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#soon {
	background-color: var(--bg-txt-color);
	color: var(--txt-color);
	font-size: 1.7em;
	text-align: center;
	width: 20rem;
	height: 7vh;
	border-radius: 1rem;
	margin: auto;
	margin-bottom: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

#soon span {
	padding-bottom: 2vh;
	padding-top: 3vh;
}

/*box - menu1*/
#menu_1 {
	background-color: var(--bg-menu1);
}

#menu01 .fa-music {
	font-size: 4em;
}

#menu01 p {
	font: 2.5em "Devonshire";
	color: var(--txt-menu1);
	margin-top: 0;
}

#menu01 div {
	font: 3em 'typo_comics_light_demoregular';
	text-transform: uppercase; 
	color: var(--txt-menu1);
}

/*box - menu2*/
#menu_2 {
	background-color: var(--bg-menu2);
}

#menu02 p {
	font: 2em "Croissant One";
	margin-top: 0;
  	background: -webkit-linear-gradient(-45deg, #C77412 20%, #6E4CCC 80%);
  	background: linear-gradient(135deg, #C77412 20%, #6E4CCC 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu02 div {
	font: 3em 'Gelasio:600';
	color: var(--txt-1-menu2);
}

/*box - menu3*/
#menu_3 {
	background-color: var(--bg-menu3);
}

#menu03 p {
	font: 3em "Dancing script";
	margin-top: 0;
	background: -webkit-linear-gradient(-45deg, #0228DD 30%, #55B5FB 60%);
  	background: linear-gradient(135deg, #0228DD 30%, #55B5FB 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu03 div {
	font: 3em 'typo_comics_light_demoregular';
	color: var(--txt-menu3);
}

/*box - menu4*/
#menu_4 {
	background-color: var(--bg-menu4);
}

#menu04 p {
	font: 2.5em "Kaushan Script";
	margin-top: 0;
  	background: -webkit-linear-gradient(-45deg, #3D923A 20%, #BFFF7E 80%);
  	background: linear-gradient(135deg, #3D923A 20%, #BFFF7E 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu04 div {
	font: 3em 'typo_comics_light_demoregular';
	color: var(--txt-menu4);
}


/* ////////////// 5-0 PAGES-commun aux 4 menus /////////////////*/
h2 {
	text-align: center;
	margin-top: 2rem;
}

#titre p {
margin: 0 2rem 0.5rem 2rem;
}

.box_menu {
	box-shadow: 2px 2px 10px grey;
	width: auto;
	max-width: 70vh;
	min-height: 80vh;
	margin: auto;
	margin-bottom: 10vh;
	text-align: center;
}

div[class*="sstitre"] {
	display: flex;
	justify-content: space-between;
	width: auto;
	margin: 0rem 2.5rem 0rem 2.5rem;
	cursor: pointer;
}

img {
	width: 30%;
	height: 1rem;
}
table {
	width: 85%;
}
.plat {
	text-align: left;
}

.prix {
	text-align: right;
}

/* ////////////// 5-1 PAGES-menu1 /////////////////*/

#titre .fa-music {
	font-size: 3rem;
	margin-top: 1rem;
}

.fa-music {
	background: -webkit-linear-gradient(-45deg,  #ef475f 0%,#f6916a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #ef475f 0%,#f6916a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef475f', endColorstr='#f6916a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#music #titre p {
font-size: 2rem;
}

#first_menu {
	background-color: var(--bg-menu1);
	color: var(--txt-menu1);
}

#music #titre, #music #titrebis {
	font-family: "Devonshire";
	padding-top: 1rem;
}

#menu1 {
	width: auto;
}

#music table {
	font-family: "typo_comics_light_demoregular";
	margin: 2.5rem;
}

.menu1__sstitre {
	font: bold 1.3em "typo_comics_light_demoregular";
}

#music img {
	padding-top: 1.6rem;
}

#titrebis {
	font-size: 1.7rem;
	padding-top: 1.5rem;
	padding-bottom: 2rem;
}

#titrebis i {
	font-size: 1.7rem;
}

/* ////////////// 5-2 PAGES-menu2 /////////////////*/

#second_menu {
	background-color: var(--bg-menu2);
	padding-bottom: 5vh;
	color: var(--txt-1-menu2);
	
}

#chic #titre {
	font: 1.5em "Croissant One";
	padding-top: 5rem;
	padding-bottom: 3rem;
	background: -webkit-linear-gradient(-45deg, #C77412 0%, #6E4CCC 100%);
  	background: linear-gradient(135deg, #C77412 0%, #6E4CCC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#chic img {
	margin-top: 1.2rem;
}

#chic #paragraph1 img {	background-color: var(--txt-1-menu2);}
#chic #paragraph2 img {	background-color: var(--txt-2-menu2);}
#chic #paragraph3 img {	background-color: var(--txt-3-menu2);}

#chic table {
	font: 0.9em "Gelasio";
	padding: 2.5rem 0rem 2rem 5rem;	
}

#chic #paragraph1 {color: var(--txt-1-menu2);}
#chic #paragraph2 {color: var(--txt-2-menu2);}
#chic #paragraph3 {color: var(--txt-3-menu2);}

.menu2__sstitre {
	font: bold 1rem "Gelasio";
}

/* ////////////// 5-3 PAGES-menu3 /////////////////*/
#third_menu {
	background-color: var(--bg-menu3);
	padding-bottom: 5vh;
}

#papilles #titre {
	font: 2.5em "Dancing script";
	padding-top: 5rem;
	padding-bottom: 3rem;
	background: -webkit-linear-gradient(-45deg, #0228DD 30%, #55B5FB 60%);
  	background: linear-gradient(135deg, #0228DD 30%, #55B5FB 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#papilles img {
	margin-top: 1.2rem;
	width: 30%;
}

#papilles #paragraph1 img {background-color: var(--bar-darken-menu3);}
#papilles #paragraph2 img {background-color: var(--bar-normal-menu3);}
#papilles #paragraph3 img {background-color: var(--bar-lighten-menu3);}

#papilles table {
	font: 0.9em 'typo_comics_light_demoregular';
	padding: 2rem 0rem 1.5rem 4rem;	
}

.menu3__sstitre {
	font: 1rem 'typo_comics_light_demoregular';
}

/* ////////////// 5-4 PAGES-menu4 /////////////////*/
#fourth_menu {
	background-color: var(--bg-menu4);
	padding-bottom: 5vh;
}

#palette #titre {
	font: 2.5em "Kaushan Script";
	padding-top: 4rem;
	padding-bottom: 2rem;
	background: -webkit-linear-gradient(-45deg, #3D923A 0%, #BFFF7E 100%);
  	background: linear-gradient(135deg, #3D923A 0%, #BFFF7E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#palette img {
	margin-top: 1.1rem;
	width: 37%;
}

#palette table {
	font: 0.8em 'typo_comics_light_demoregular';
	padding: 2rem 0rem 2rem 4rem;	
}

.menu4__sstitre {
	font: 0.9rem 'typo_comics_light_demoregular';
}
/* ////////////// 5-5 PAGES-disclaimer /////////////////*/
#disclaimer span {
	text-transform: uppercase;
}
#disclaimer h2 {
	text-align: left;
}