/* ////////////// 1- BASE_POLICES /////////////////*/
@font-face {
    font-family: 'vtc_letterer_proregular';
    src: url('police/VTC_letterer_pro-webfont.eot');
    src: url('police/VTC_letterer_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/VTC_letterer_pro-webfont.woff2') format('woff2'),
         url('police/VTC_letterer_pro-webfont.woff') format('woff'),
         url('police/VTC_letterer_pro-webfont.ttf') format('truetype'),
         url('police/VTC_letterer_pro-webfont.svg#vtc_letterer_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body
{
	font-family: arial, sans-serif;
	width: 75%;
	margin: auto;
}


/* ////////////// 2- UTILS_VARIABLES /////////////////*/

:root /* Définition des couleurs */
{	/*header et footer*/
	--bg-txt-color: #579C87;
	--txt-color: #FDCB46;
	/*menu1*/
	--bg-menu1: #FCDFDB;
	--txt-menu1:#3D1319;
	/*menu2*/
	--bg-menu2: #FFF5FE;
	--txt-1-menu2:#C77412;
	--txt-2-menu2: #A56799;
	--txt-3-menu2: #6E4CCC;
	/*menu3*/
	--bg-menu3: #EDEFEF;
	--txt-menu3: #0887FB;
	--bar-darken-menu3: #0228DD;
	--bar-normal-menu3: #0670F3;
	--bar-lighten-menu3: #229DF9;
	/*menu4*/
	--bg-menu4: #FDFFFD;
	--txt-menu4: #72BF56;
	--bar-darken-menu4: #3D923A;
	--bar-lighten-menu4: #BFFF7E;
}


/* ////////////// 3-1 LAYOUT_Header /////////////////*/
header {
	color: #FDCB46;
	background-color: #579C87;
	text-align: center;
}
/* ////////////// 3-2 LAYOUT_Footer /////////////////*/
footer {
	display: flex;
	color: #FDCB46;
	background-color: #579C87;
}

/* ////////////// 4 COMPONENTS /////////////////*/

/* ////////////// 5-1 PAGES-menu1 /////////////////*/
/* ////////////// 5-2 PAGES-menu2 /////////////////*/
/* ////////////// 5-3 PAGES-menu3 /////////////////*/
/* ////////////// 5-4 PAGES-menu4 /////////////////*/
/* ////////////// 5-5 PAGES-disclaimer /////////////////*/